---
---

@import "minima";

.plot-app {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
}
  
.parameter-spec {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  
  .parameter-input-error {
    background-color: #ffbbbb;
    background-image: url('{{ "assets/icons/error.png" | absolute_url }}');
    background-repeat: no-repeat;
    background-position: 0px 0px; 
    background-size: auto 100%;
    background-position: right;
}

aside:not(.aside-center) {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #333333;
    font-style: italic;
    color: #333333;
    background-color: lightyellow;
}

aside.aside-center {
    padding-left: .5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    box-shadow: inset 5px 0 5px -5px #333333;
    font-style: italic;
    color: #333333;
    background-color: lightyellow;
}

aside > p {
    margin: .5rem;
}